.grid {
    grid-template-columns: 1fr 1fr;
}

.header {
    /* top: 0;
    height: 200px;
    position: sticky; */
}

.header__title {
    font-size: 3.5rem!important;
            margin-top: 0!important;
}

.albumContainer {
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    .albumContainer {
        overflow: visible;
        height: auto;
        display: block;
    }

    .reccomendedAlbums {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header__info {
        align-items: center;
    }
    .header__title {
        font-size: 3rem!important;
        line-height: 3rem!important;
        text-align: center;
    }
    .reccomendedAlbums {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .header__title {
        font-size: 2.5rem!important;
        line-height: 2.5rem!important;
    }
}